.list-body {
  height: 20%;
  overflow-y: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: #fef6eb;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 30%;
}

.list-item {
  padding: 1rem;
}
