.search-bar {
    position: fixed;
    top: 1rem;
    left: 50%;
    height: 10%;
    width: 20%;
    z-index: 2;
    text-align: center;
    background: white;
    border: 2px solid black;
    border-radius: 2rem;
}

#search {
    position: absolute;
    height: 50%;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    z-index: 3;
}

input {
    font-size: 0.7rem;
}

button {
    font-size: 0.7rem;
}